{% extends "layout.html" %}
{% block content %}
    <div class="about-page">
        <h2>About Me</h2>
        <div class="about">
            <p>
                I'm a Full-Stack Software Engineer developers who is passionate about creating web applications. I created this web application to showcase my developping skills. This is a portfolio project for Holberton School for computer science.
            </p>
        </div>
        <div class="dark">
            <h3>My Skills</h3>
            <p>
                I have experience in a wide range of technologies including Python, Flask, JavaScript, HTML5, CSS, C programming language, and more. I'm always looking for new projects to work on and new technologies to learn.
            </p>
        </div>
    </div>
    
{% endblock %}