{% extends "layout2.html" %}
{% block content %}
<div class="landing-page">
    <header class="home-header">
        <h2>Review Me</h2>
        <h2>"Because your opinion matters"</h2>
    </header>
    <div class="home-section">
        <h2 class="left"><br><br>Share your thoughts on <br> your favorite books</h2>
        <img class="right" src="https://images.pexels.com/photos/3847714/pexels-photo-3847714.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=" alt="book review photo">
    </div>
    <div class="home-section">
        <h2 class="left"><br><br>Find movie recommendations <br> based on real people reviews</h2>
        <img class="right" src="https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=" alt="movie review photo">
    </div>
    <div class="home-section">
        <h2 class="left"><br><br>Read what people have <br> to say about a product <br> before you buy it </h2>
        <img class="right" src="https://images.pexels.com/photos/8154652/pexels-photo-8154652.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=" alt="Appliances review photo">
    </div>
</div>
{% endblock %}
