{% extends "layout.html" %}
{% block content %}

<div class="signup">
    <h2>Welcome Back!</h2>
    <form action="/login" method="post">
        {{ form.hidden_tag() }}
        <feildset>
            <legend class="legend"> <strong>Welcome Back</strong></legend>
            
            <div class="form-group">
                {{ form.email.label(class="form-control") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </feildset>
    </form>
   
{% endblock %}