body {
    margin: 0;
    width: 100%;
    align-items: center;
    background-color: white;
  }
  
.page-title {
  margin: 0;
  width: 100%;
  border-bottom: 7px solid white;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
 
}


.header-image-movies {
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  height: 550px;
  display: inline-block;
  background-size: 100%;
  background-image: url('https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=');
}

.header-image-books {
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  height: 450px;
  display: inline-block;
  background-size: 100%;
  background-image: url('https://media.istockphoto.com/id/583816330/photo/diverse-group-of-friends-discussing-a-book-in-library.webp?s=1024x1024&w=is&k=20&c=H-qVf3OiNGJwTWrOUjGOT0U_Ht1XBJdK2nPXPSffzHc=');

}

.header-summary {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
  display: inline-block;

}
h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: mediumorchid;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: teal;
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: teal;
  position: fixed;
  width: 100%;
  }
  
a {
  text-decoration: none;
  color: teal;
  }
  
.navbar1 {
  top: 0;
  padding: 1px 0 3px 0;
  background-color: white;
  }

#logo {
  font-weight: bold;
  }

.navbar1 a {
  color: teal;
  }
.navbar2 {
  top: 45px;
  padding: 5px 0 5px 0;
  background-color: cadetblue;
  }
  
.navbar2 a {
   color: white;
  }
.content {
    margin-top: 73px;
    display: flex;
    justify-content: center;
    
  }
  



  footer {
   bottom: 0;
   position: fixed;
   background-color: cadetblue;
   width: 100%;
  }

  .home-header {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220510/pngtree-excellent-rating-advertisement-background-benchmark-image_1344783.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    width: 100vw;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 20px 20px 20px 20px;
}

.landing-page {
    width: 100%;
    background-color: white;
    color: teal;
    margin-top: 0;
    align-items: center;
    margin-bottom: 5vh;
}

.left {
    float: left;
    width: 30%;
    max-height: 350px;
    margin-left: 7vw;
    font-size: 6vh;
    font-weight: bold;
    padding-left: 10px;
    margin-right: 0;
    margin-top: 12vh;
    padding-right: 0;
    
}

.right {
    float: right;
    width: 30%;
    height: 250px;
    border-radius: 50%;
    margin-right: 7vw;
    margin-left: 0;
    padding-top: 1vh;
    margin-top: 5vh;
} 

.home-section {
  height: 350px;
  width: 100%;
  margin: 0;
  margin-bottom: 3vh;
  font-size: 20px;
  background-color: white;
  padding: 0;
}
/* about page */
.about {
border: 1px solid teal;
width: 40%;
font-size: 4vh;
padding: 15px;
text-align: center;
float: left;
margin-left: 2vw;
margin-top: 10px;
margin-bottom: 10px;

}

.dark {
  background-color: #6F7378;
  color: white;
  width: 40%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 2vw;
  font-size: 4vh;
  text-align: center;
  float: right;
}

.about-section {
  height: fit-content;
  text-align: center;
  background-color: mediumorchid;
  margin-bottom: 2vh;
  padding-bottom: 2vh;
  border: 2px solid black;
  width: 100%;
}

#signup {
  background-color: teal;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* media queries */
@media screen and (max-width: 600px) {
  .left {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 4vh;
    margin-top: 5vh;
  }
  .right {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1vh;
    margin-top: 5vh;
  }
  .about {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 4vh;
    margin-top: 5vh;
  }
  .dark {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 4vh;
    margin-top: 5vh;
  }
  .home-section {
    height: 350px;
    width: 100%;
    margin: 0;
    margin-bottom: 3vh;
    font-size: 20px;
    background-color: white;
    padding: 0;
  }
  .about-section {
    height: fit-content;
    text-align: center;
    background-color: mediumorchid;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    border: 2px solid black;
    width: 100%;
  }
  .home-header {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220510/pngtree-excellent-rating-advertisement-background-benchmark-image_1344783.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 380px;
    width: 100vw;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 20px 20px 20px 20px; 
 }
 .signup {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
}